img[alt="ImportAsset.png"] {
	width: 60%;
}

img[alt="ImportAsset2.png"] {
	width: 60%;
}

img[alt="ImportAsset3.png"] {
	width: 60%;
}

img[alt="ExampleScene.png"] {
	width: 60%;
}

img[alt="SwitchPlatform.png"] {
	width: 60%;
}

img[alt="HonokaExampleScene.png"] {
	width: 60%;
}

img[alt="HonokaObjectToRotate.png"] {
	width: 60%;
}

img[alt="AddHonoka.png"] {
	width: 60%;
}

img[alt="AddHonoka2.png"] {
	width: 60%;
}

img[alt="AddHonoka3.png"] {
	width: 60%;
}

img[alt="AddViRealAudioSource.png"] {
	width: 60%;
}

img[alt="AddViRealAudioSource2.png"] {
	width: 60%;
}
